<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
  <div id="ShowData">

    <div class="container">
      <div id="ShowData-row" class="row justify-content-center align-items-center">
        <div id="ShowData-column" class="col-md-12">
          <div id="ShowData-box" class="col-md-12">
            <form id="ShowData-form" class="form">
              <h3 class="text-center text-info">To Do List</h3>

              <button type="button" routerLink="/create" class="btn btn-primary">Add New</button>

                <table class="table table-bordered">
                  <thead>
                    <tr>
                        <th colspan="4">Search :
                          <input type="text" placeholder="Search by Location " [(ngModel)]="searchTerm">
                        </th>
                    </tr>
                    <tr>
                
                      <th>Task Name</th>
                      <th>Description</th>
                      <th>Assigned To</th>
                      <th>Deadline</th>
                      <th>Priority</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let todo of allTaskList | taskFilter: searchTerm"> 
                    
                      <td>{{todo.TaskName}}</td>
                      <td>{{todo.Description}}</td>
                      <td>{{todo.AssignedTo}}</td>
                      <td>{{todo.Deadline}}</td>
                      <td>{{todo.Priority}}</td>
                      <td>{{todo.Status}}</td>

                      <td>

                        <a (click)="delete(todo.ID)" > Delete</a>
                        <a (click)="update(todo.ID)" > Edit</a>
                      </td>
                    </tr>

                  </tbody>
                </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>