body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
  }
  #createTask .container #createTask-row #createTask-column #createTask-box {
    margin-top: 10px;
    max-width: 600px;
    height: 520px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #createTask .container #createTask-row #createTask-column #createTask-box #createTask-form {
    padding: 20px;
  }
  #createTask .container #createTask-row #createTask-column #createTask-box #createTask-form #register-link {
    margin-top: -85px;
  }